body,
html {
  height: 100%;
}

.home-header {
  background-color: $deep;
  height: 100%;
  color: #fff;
  padding-top: $size;
}

.top-line {
  position: absolute;
  width: 100%;
  height: $size;
  top: 0;
  border-bottom: 1px solid rgba(#fff, $border-opacity);
  z-index: 10;
  background-color: $deep;
  display: flex;
  align-self: center;
}

.logo {
  flex: 0 0 70px;
}

.logo__img-wrapper {
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button-container {
  flex: 0 0 70px;
  text-align: right;
  height: $size;
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: $size;
  height: $size;
  background-color: $dark;
  background-image: url(../images/dist/bars-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.25s ease-out;
  &:hover {
    background-color: $accent;
  }
}

.top-line__decoration {
  flex: 1 0 0;
  text-align: center;
  &::before {
    content: "";
    height: 1px;
    width: 50px;
    background-color: #fff;
    display: inline-block;
    opacity: $border-opacity * 1.5;
    position: relative;
    top: 16px;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.top-line__contacts {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12.5px;
  letter-spacing: 0.4em;
  color: rgba(#fff, 0.5);
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    font-size: 7px;
    margin-left: 24px;
    justify-content: center;
  }
}

.top-line__separator {
  content: "";
  width: 1px;
  height: 30px;
  background-color: rgba(#fff, $border-opacity * 1.5);
  margin: 0 20px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.top-line__numbers,
.top-line__text {
  font-family: roboto-vh, sans-serif;
  margin-left: 7px;
  font-weight: 600;
  a {
    color: $accent;
  }
}

.top-line__numbers {
  color: $accent;
  font-weight: 700;
}

.top-line__text {
  color: rgba(#fff, 0.75);
}

.top-line__address {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.home-header__content {
  height: 100%;
}

.home-aside {
  background-color: $dark;
  height: 100%;
  width: $size;
  color: #fff;
  padding-top: $size;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.home-aside__decoration {
  flex: 1 0 0;
  background-image: url(../images/dist/lines.svg);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
}

.home-aside__soc {
  flex: 1 0 0;
}

.soc-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(#fff, $border-opacity);
  border-bottom: 1px solid transparent;
  margin-top: -1px;
  transition: background 0.5s ease-out;
  &:last-child {
    border-bottom: 1px solid rgba(#fff, $border-opacity);
  }
  img {
    width: 15px;
    height: auto;
    max-height: 15px;
    opacity: 0.3;
    transition: opacity 0.5s ease-out;
  }
  &:hover {
    background-color: $accent;
    img {
      opacity: 1;
    }
  }
}

.home-aside__share-icon {
  background-color: $accent;
  width: $size;
  flex: 0 0 $size;
  background-image: url(../images/dist/share-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}

// SLIDER
.slider-container {
  height: 100%;
  width: 100%;
  padding-left: $size;
  overflow: hidden;
  position: relative;
}

.slider-bottom {
  position: absolute;
  bottom: 0;
  height: $size;
  display: flex;
  align-items: center;
  left: $size;
  z-index: 5;
  width: calc(75% - #{$size});
}

.slider-share {
  flex: 0 1 auto;
}

.slider-share__items {
  display: flex;
  position: relative;
  bottom: -0.5px;
}

.slider-share__item {
  width: $size;
  height: $size;
  border: none;
  background-color: $dark;
  border-right: 1px solid rgba(#fff, $border-opacity);
  &:last-child {
    border: none;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 3px;
      height: 100%;
      background-color: $accent;
    }
  }
}

.slider-img {
  height: 100%;
  width: 75%;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.4);
    z-index: 2;
  }
}

.slider-img__slide {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slider-img__bg {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.slider-text {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  height: calc(100% - #{$size});
}

.slider-text__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-text__content {
  text-align: right;
  padding-right: 12%;
  padding-bottom: 200px;
}

.slider-text__heading {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  font-family: oswald, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1px;
}

.slider-text__desc {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  float: right;
  font-weight: 500;
  font-style: normal;
  max-width: 500px;
  margin-top: 15px;
  margin-bottom: 20px;
  clear: both;
}

.slider-button__request {
  width: 173.333px;
  height: 39px;
  color: #fff;
  top: 0;
  left: 0;
  float: right;
  clear: both;
}

.swiper-pagination {
  display: flex;
  gap: 18px;
  justify-content: center;
  position: relative;
  align-items: center;
}

.slider-pagination {
  flex: 0 0 140px;
  display: flex;
  text-align: center;
  justify-content: center;
  height: $size;
  align-items: center;
  margin-top: 14px;
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    opacity: 1;
    background-color: #fff;
    margin: 0 7.5px;
  }
  .swiper-pagination-bullet-active {
    background-color: $accent;
    position: relative;
    &::before {
      content: "";
      width: 14px;
      height: 14px;
      border: 1px solid $accent;
      position: absolute;
      border-radius: 100%;
      left: -3px;
      bottom: -3px;
    }
  }
}

.slider-scrollbar {
  flex: 1 0 0;
  .swiper-scrollbar {
    height: 2px;
    background-color: rgba(#fff, 0.2);
  }
  .swiper-scrollbar-horizontal {
    bottom: 0;
    position: relative;
    top: var(--swiper-scrollbar-top, auto);
    z-index: 50;
  }
  .swiper-scrollbar-drag {
    background-color: $accent;
    height: 3px;
    width: 15px;
    top: -1px;
    cursor: pointer;
  }
}

.slider-navigation__container {
  max-width: 76px;
  position: relative;
  margin: auto;
}

.slider-navigation {
  flex: 0 0 140px;
  position: relative;
  border-radius: 2px;
  top: 6px;
  left: 10px;
  .swiper-button-prev,
  .swiper-button-next {
    width: 32px;
    height: 32px;
    color: $accent;
    background-color: #3c3c3c;
    border: 2px solid $accent;
    border-radius: 100%;
    &::after {
      font-size: 10px;
    }
    &.swiper-button-disabled {
      opacity: 1;
      border: 2px solid #8a8a8a;
      color: #8a8a8a;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}

.slider-leaf {
  background-image: url(../../../images/dist/leaf-icon_2.png);
  background-repeat: no-repeat;
  height: 356px;
  left: 58%;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 900px;
  z-index: 2;
}

.slider-pagination-count {
  position: absolute;
  right: 52px;
  top: 30px;
  height: 80px;
  z-index: 100;
  width: 120px;
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 24px;
  .current {
    font-size: 40px;
    color: $accent;
    display: inline-block;
    min-width: 42px;
  }
}

.slider-pagination-current {
  right: 40px;
  bottom: 10px;
  position: absolute;
  font-size: 76px;
  font-family: oswald, sans-serif;
  color: $deep;
  -webkit-text-stroke: 1px #7f7f7f;
  &__dot {
    color: $accent;
    -webkit-text-stroke: 1px transparent;
  }
}
